---
layout: base.njk
permalink: pages/antigens/previous_equivalents/
eleventyNavigation:
  parent: "Antigens"
  key: "Previous Equivalents"
title: Previous Equivalents
h1: Previous Equivalents
p: HLA Antigen Assignments
---

{% from "src/components/table.njk" import table %}

{% set headers = [
  "WHO HLA Antigen Assignment", "Previous WHO Assignments", 
  "Date WHO Official Antigen Name first Assigned", "Local Designations"
] %}

{% set rows = [
  ["A1", "HL-A1", "Jan 01, 1968", "Ao19, Bt1, To8, Da11, LA1, Lc-1, Te1, CLB4"],
  ["A2", "HL-A2, HL-AMac", "Jan 01, 1968", "Ao1, Bt5, To9, Da1, LA2, Mac, 8a, PIGrLyB1, Te2, Lc-2, CLB2"],
  ["A203", "", "Nov 14, 1991", "A2short"],
  ["A210", "", "Nov 14, 1991", "A2-Lee"],
  ["A3", "HL-A3", "Jan 01, 1968", "<Ao4, <Bt18, To10, <Da12, LA3, Hill, <Te8, <Lc-3"],
  ["A9", "HL-A9", "Jan 01, 1969", "Ao35, Bt9, To12, Da16, LA4, Te4, Stewart, LA-BS, Lc-11, (Hunt, B), CLB9"],
  ["A23", "W23, 9.1", "Jan 01, 1972", "Bt21, Da27, (9'), Lc-12, Lc-12, (Hunt, C)"],
  ["A24", "W24, 9.2", "Jan 01, 1972", "Ao82, Da32, (9”), BIM"],
  ["A2403", "", "Nov 14, 1991", "A9.3"],
  ["A10", "HL-A10", "Jan 01, 1970", "KH, Bt8, To13, Da17, Te12, <Bt24"],
  ["A25", "Aw25, W25, 10.1", "Jan 01, 1972", "<Ao28, Da29, (10”), To31, CLB21"],
  ["A26", "Aw26, W26, 10.2", "Jan 01, 1972", "Da28, (10'), To40"],
  ["A34", "Aw34", "Jan 01, 1975", "Malay, 2, HL-A10-3, F26"],
  ["A66", "Aw66", "Jan 01, 1984", "LN"],
  ["A11", "HL-A11", "Jan 01, 1970", "Ao45, KN-ILN*, Te13, Da21, To26, GE20, ILN*, EA, Lc-20"],
  ["A19", "W19", "Jan 01, 1971", "GE33, Te19, Lic, Thompson"],
  ["A29", "W29, W19.1", "Jan 01, 1972", "Ao77, Bt15, Da22, GE33, Te63"],
  ["A30", "W30, W19.3", "Jan 01, 1972", "Da25'(Da26), Lc-21, Te66"],
  ["A31", "W31, W19.4", "Jan 01, 1972", "Da25''(Da33), LA-W, Te59, Lc-26.1"],
  ["A32", "W32, W19.5", "Jan 01, 1972", "Ao28, To30, GE32, Te59"],
  ["A33", "Aw33, W19.6", "Jan 01, 1975", "Fe55, lo.4, Bar3, Malay, 1"],
  ["A74", "Aw74", "Nov 21, 1987", "Th"],
  ["A28", "W28", "Jan 01, 1975", "Ao5, 1B, or, Da15, Ba*, Bgc, Te28, or, Te40, Lc-17"],
  ["A68", "Aw68", "Jan 01, 1984", "A28, not, A2/28"],
  ["A69", "Aw69", "Jan 01, 1984", "A2/28"],
  ["A36", "Aw36", "Jan 01, 1975", "Mo*, LT"],
  ["A43", "Aw43", "Jan 01, 1975", "BK"],
  ["A80", "", "Jun 10, 1996", "AX”BG''A”blank”"],
  ["B5", "HL-A5", "Jan 01, 1968", "Ao12/Ao45, Bt25, To5, Da5, Te6/Te11, (old), 4c, CLB7, Te11, (old), MH, <Lc-19"],
  ["B51", "Bw51", "Jan 01, 1977", "B5.1"],
  ["B52", "Bw52", "Jan 01, 1977", "B5.2"],
  ["B5102", "", "Nov 14, 1991", "B5.35"],
  ["B5103", "", "Nov 14, 1991", "BTA"],
  ["B7", "HL-A7", "Jan 01, 1968", "Ao2, <Bt4, To20, Da10, 4d, <7c=6c,6b, 5, Lc-8"],
  ["B703", "", "Nov 14, 1991", "BPOT"],
  ["B8", "HL-A8", "Jan 01, 1968", "Ao41, Bt2, To7, Da8, 7d, Lc-7, CLB1"],
  ["B12", "HL-A12", "Jan 01, 1970", "Ao15, >Bt6, KN-T12, Da4, To11, Te9, 4a11, <GE4, CLB14, SLy-1, TT, Merrit-A, T12, 4a"],
  ["B44", "Bw44", "Jan 01, 1977", "B12(not, TT)"],
  ["B45", "Bw45", "Jan 01, 1977", "TT*"],
  ["B13", "HL-A13", "Jan 01, 1970", "KN-HN, Bt23, To21, HK, HN, Te26, <6b"],
  ["B14", "W14", "Jan 01, 1975", "Da18, MaKi, Te14/Te54, Lc-26"],
  ["B64", "Bw64", "Jan 01, 1984", "14.1, 8w63"],
  ["B65", "Bw65", "Jan 01, 1984", "14.2, 8w62"],
  ["B15", "Bw15, W15", "Jan 01, 1975", ">Bt26, Da23, CLB10, <GE17, LND, Te15/Te55, <7a, Lc-25"],
  ["B62", "Bw62", "Jan 01, 1980", "15.1, To53, 15B, Te72, 8w64"],
  ["B63", "Bw63", "Jan 01, 1980", "15.2, To52, 15A, Te71, 8w65"],
  ["B75", "Bw75", "Nov 21, 1987", "Bw62.1, SH7, ST1"],
  ["B76", "Bw76", "Nov 21, 1987", "15S, 15.4"],
  ["B77", "Bw77", "Nov 21, 1987", "15T, 15.2"],
  ["B16", "W16", "Jan 01, 1972", "Ao81, U18, Da31, GE12, Sa533, Te64"],
  ["B38", "Bw38, W16.1", "Jan 01, 1975", "W16W4, Da31"],
  ["B39", "Bw39, W16.2", "Jan 01, 1975", "W16-382"],
  ["B3901", "", "Nov 14, 1991", "B39.1"],
  ["B3902", "", "Nov 14, 1991", "B39.2"],
  ["B17", "Bw17, W17", "Jan 01, 1975", "Ao70, Bt12, GE15, SL-MaPi, Bgb, Te17/Te57, SL-MaPi, Orlina"],
  ["B57", "Bw57", "Jan 01, 1980", "17.1, 17A, 9w61"],
  ["B58", "Bw58", "Jan 01, 1980", "17.2, 9w59, Lc-29"],
  ["B18", "Bw18, W18", "Jan 01, 1972", "Ao57, Bt14, To28, Da33, <9w56, Te19, (Hunt, F), Lc-30, Lc-29, CFB"],
  ["B60", "Bw60", "Jan 01, 1984", "18.2, Lc-30, <Te58"],
  ["B61", "Bw61", "Jan 01, 1984", "18.3, Lc-31, Te70"]
] %}

{{ table(headers= headers, rows= rows) }}
