{% macro list(items, isOrdered=false, styleNone=false) %}
    {% if isOrdered %}
        <ol{% if styleNone %} style="list-style: none;"{% endif %}>
            {% for item in items %}
                <li>{{ item | safe }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <ul{% if styleNone %} style="list-style: none;"{% endif %}>
            {% for item in items %}
                <li>{{ item | safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
