---
layout: base.njk
permalink: pages/nomenclature/nomenclature_reports/
eleventyNavigation:
  parent: "Nomenclature"
  key: "Nomenclature Reports"
title: Nomenclature Reports
h1: Nomenclature Reports
p: Nomenclature for Factors of the HLA System
---

{% from "src/components/paragraph.njk" import paragraph %}
{% from "src/components/list.njk" import list %}
{% from "src/components/heading.njk" import heading %}


{{ paragraph('This page details all the previous HLA Nomenclature reports and where possible a link to a freely available PDF of the Tissue Antigens publication has been provided, courtesy of Wiley InterScience, as indicated by the Tissue Antigens cover image. A number of the early reports are also available in PDF format directly from the Bulletin of the World Health Organization website.') }}

{{ heading ('Nomenclature for Factors of the HLA System, 2010')}}
{{ list([
      "<em>SGE Marsh, ED Albert, WF Bodmer, RE Bontrop, B Dupont, HA Erlich, M Fernández-Vina, DE Geraghty, R Holdsworth, CK Hurley, M Lau, KW Lee, B Mach, WR Mayr, M Maiers, CR Müller, P Parham, EW Petersdorf, T Sasazuki, JL Strominger, A Svejgaard, PI Terasaki, JM Tiercy, J Trowsdale</em>",
      "<em>Tissue Antigens</em>. 2010 <strong>75</strong>:291-455 <a href='https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1399-0039.2010.01466.x'>(Download PDF)</a>"
        ], false, true) }}
{{ heading ('An Update to HLA Nomenclature, 2010')}}
{{ list([
      "<em>SGE Marsh, ED Albert, WF Bodmer, RE Bontrop, B Dupont, HA Erlich, M Fernández-Vina, DE Geraghty, R Holdsworth, CK Hurley, M Lau, KW Lee, B Mach, WR Mayr, M Maiers, CR Müller, P Parham, EW Petersdorf, T Sasazuki, JL Strominger, A Svejgaard, PI Terasaki, JM Tiercy, J Trowsdale</em>",
      "<em>Bone Marrow Transplantation</em>. 2010 <strong>45</strong>:846-8  <a href='https://www.nature.com/articles/bmt201079'>(Download PDF)</a>"
        ], false, true) }}
{{ heading ('Nomenclature for Factors of the HLA System, 2004')}}
{{ list([
      "<em>SGE Marsh, ED Albert, WF Bodmer, RE Bontrop, B Dupont, HA Erlich, DE Geraghty, JA Hansen, CK Hurley, B Mach, WR Mayr, P Parham, EW Petersdorf, T Sasazuki, GMTh Schreuder, JL Strominger, A Svejgaard, PI Terasaki, J Trowsdale</em>",
      "<em>International Journal of Immunogenetics</em>. 2005 <strong>32</strong>:107-60",
      "<em>Human Immunology</em>. 2005 <strong>66</strong>:571-636",
      "<em>Tissue Antigens</em>. 2005 <strong>65</strong>:301-68 <a href='https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1399-0039.2005.00379.x'>(Download PDF)</a>"
        ], false, true) }}
{{ heading ('Nomenclature for Factors of the HLA System, 2002')}}
{{ list([
      "<em>SGE Marsh, ED Albert, WF Bodmer, RE Bontrop, B Dupont, HA Erlich, DE Geraghty, JA Hansen, B Mach, WR Mayr, P Parham, EW Petersdorf, T Sasazuki, GMTh Schreuder, JL Strominger, A Svejgaard, PI Terasaki</em>",
      "<em>European Journal of Immunogenetics</em>. 2002 <strong>29</strong>:463-515",
      "<em>Human Immunology</em>. 2002 <strong>63</strong>:1213-68",
      "<em>Tissue Antigens</em>. 2002 <strong>60</strong>:407-64 <a href='https://onlinelibrary.wiley.com/doi/pdf/10.1034/j.1399-0039.2002.600509.x'>(Download PDF)</a>"
        ], false, true) }}
{{ heading ('Nomenclature for Factors of the HLA System, 2000')}}
{{ list([
      "<em>SGE Marsh, JG Bodmer, ED Albert, WF Bodmer, RE Bontrop, B Dupont, HA Erlich, JA Hansen, B Mach, WR Mayr, P Parham, EW Petersdorf, T Sasazuki, GMTh Schreuder, JL Strominger, A Svejgaard, PI Terasaki</em>",
      "<em>European Journal of Immunogenetics</em>. 2001 <strong>28</strong>:377-424",
      "<em>Human Immunology</em>. 2001 <strong>62</strong>:419-68",
      "<em>Tissue Antigens</em>. 2001 <strong>57</strong>:236-83 <a href='https://onlinelibrary.wiley.com/doi/pdf/10.1034/j.1399-0039.2001.057003236.x'>(Download PDF)</a>"
        ], false, true) }}
{{ heading ('Nomenclature for Factors of the HLA System, 1998')}}
{{ list([
      "<em>JG Bodmer, SGE Marsh, ED Albert, WF Bodmer, RE Bontrop, B Dupont, HA Erlich, JA Hansen, B Mach, WR Mayr, P Parham, EW Petersdorf, T Sasazuki, GMTh Schreuder, JL Strominger, A Svejgaard, PI Terasaki</em>",
      "<em>European Journal of Immunogenetics</em>. 1999 <strong>26</strong>:81-116",
      "<em>Human Immunology</em>. 1999 <strong>60</strong>:361-95",
      "<em>Tissue Antigens</em>. 1999 <strong>53</strong>:407-46 <a href='https://onlinelibrary.wiley.com/doi/pdf/10.1034/j.1399-0039.1999.530421.x'>(Download PDF)</a>",
      "<em>Vox Sanguinis</em>. 1999 <strong>77</strong>:164-91"
        ], false, true) }}
{{ heading ('Nomenclature for Factors of the HLA System, 1996')}}
{{ list([
      "<em>JG Bodmer, SGE Marsh, ED Albert, WF Bodmer, RE Bontrop, RE Charron, B Dupont, HA Erlich, HA Fauchet, B Mach, WR Mayr, P Parham, T Sasazuki, GMTh Schreuder, JL Strominger, A Svejgaard, PI Terasaki</em>",
      "<em>European Journal of Immunogenetics</em>. 1997 <strong>24</strong>:105-51",
      "<em>Human Immunology</em>. 1997 <strong>60</strong>:98-128",
      "<em>Tissue Antigens</em>. 1997 <strong>53</strong>:297-321 <a href='https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1399-0039.1997.tb02759.x'>(Download PDF)</a>",
      "<em>Vox Sanguinis</em>. 1997 <strong>77</strong>:105-30"
        ], false, true) }}
{{ heading ('Nomenclature for factors of the HLA system, 1995')}}
{{ list([
      "<em>JG Bodmer, SGE Marsh, ED Albert, WF Bodmer, B Dupont, HA Erlich, B Mach, WR Mayr, P Parham, T Sasazuki, GMTh Schreuder, JL Strominger, A Svejgaard, PI Terasaki</em>",
      "<em>European Journal of Immunogenetics</em>. 1995 <strong>22</strong>:335-60",
      "<em>Human Immunology</em>. 1995 <strong>43</strong>:149-64",
      "<em>Tissue Antigens</em>. 1995 <strong>46</strong>:1-18 <a href='https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1399-0039.1995.tb02470.x'>(Download PDF)</a>",
      "<em>Vox Sanguinis</em>. 1995 <strong>69</strong>:359-72"
        ], false, true) }}
{{ heading ('Nomenclature for factors of the HLA system, 1994')}}
{{ list([
      "<em>JG Bodmer, SGE Marsh, ED Albert, WF Bodmer, B Dupont, HA Erlich, B Mach, WR Mayr, P Parham, T Sasazuki, GMTh Schreuder, JL Strominger, A Svejgaard, PI Terasaki</em>",
      "<em>European Journal of Immunogenetics</em>. 1994 <strong>21</strong>:485-517",
      "<em>Human Immunology</em>. 1994 <strong>41</strong>:1-20",
      "<em>Tissue Antigens</em>. 1994 <strong>44</strong>:1-18 <a href='https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1399-0039.1994.tb02351.x'>(Download PDF)</a>",
      "<em>Vox Sanguinis</em>. 1994 <strong>67</strong>:412-30"
        ], false, true) }}
{{ heading ('Nomenclature for factors of the HLA system, 1991')}}
{{ list([
      "<em>JG Bodmer, SGE Marsh, ED Albert, WF Bodmer, B Dupont, HA Erlich, B Mach, WR Mayr, P Parham, T Sasazuki, GMTh Schreuder, JL Strominger, A Svejgaard, PI Terasaki</em>",
      "<em>European Journal of Immunogenetics</em>. 1992 <strong>19</strong>:95-119",
      "<em>Immunobiology</em>. 1993 <strong>187</strong>:51-69",
      "<em>Tissue Antigens</em>. 1992 <strong>39</strong>:161-73 <a href='https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1399-0039.1992.tb01932.x'>(Download PDF)</a>",
      "<em>Vox Sanguinis</em>. 1992 <strong>63</strong>:142-57",
      "In: Tsuji T, Aizawa M, Sasazuki T, eds. HLA 1991. Oxford: Oxford University Press, 1992: 17–31."
        ], false, true) }}
{{ heading ('Nomenclature for factors of the HLA system, 1990')}}
{{ list([
      "<em>JG Bodmer, SGE Marsh, E Albert, WF Bodmer, B Dupont, HA Erlich, B Mach, WR Mayr, P Parham, T Sasazuki, GMTh Schreuder, JL Strominger, A Svejgaard, PI Terasaki</em>",
      "<em>European Journal of Immunogenetics</em>. 1991 <strong>18</strong>:265-77",
      "<em>Immunogenetics</em>. 1991 <strong>33</strong>:301-91",
      "<em>Human Immunology</em>. 1991 <strong>31</strong>:186-94",
      "<em>Immunobiology</em>. 1991 <strong>182</strong>:334-45",
      "<em>Tissue Antigens</em>. 1991 <strong>37</strong>:97-104 <a href='https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1399-0039.1991.tb01853.x'>(Download PDF)</a>",
      "<em>Vox Sanguinis</em>. 1991 <strong>61</strong>:147-55"
        ], false, true) }}
{{ heading ('Nomenclature for factors of the HLA system, 1989')}}
{{ list([
      "<em>JG Bodmer, SGE Marsh, P Parham, HA Erlich, E Albert, WF Bodmer, B Dupont, B Mach, WR Mayr, T Sasazuki, GMTh Schreuder, JL Strominger, A Svejgaard, PI Terasaki</em>",
      "<em>European Journal of Immunogenetics</em>. 1991 <strong>18</strong>:265-77",
      "<em>Immunogenetics</em>. 1990 <strong>31</strong>:131-40",
      "<em>Human Immunology</em>. 1990 <strong>28</strong>:326-42",
      "<em>Immunobiology</em>. 1990 <strong>182</strong>:278-92",
      "<em>Immunology Today</em>. 1990 <strong>11</strong>:3-10",
      "<em>Tissue Antigens</em>. 1990 <strong>35</strong>:1-8 <a href='https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1399-0039.1990.tb01749.x'>(Download PDF)</a>",
      "<em>Vox Sanguinis</em>. 1990 <strong>58</strong>:140-9"
        ], false, true) }}
{{ heading ('Nomenclature for factors of the HLA system, 1987')}}
{{ list([
      "<em>E Albert</em>",
      "<em>Immunogenetics</em>. 1998 <strong>28</strong>:391-8",
      "<em>Human Immunology</em>. 1998 <strong>26</strong>:3-14",
      "<em>Immunobiology</em>. 1998 <strong>177</strong>:465-768",
      "<em>Tissue Antigens</em>. 1998 <strong>32</strong>:177-87 <a href='https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1399-0039.1988.tb01655.x'>(Download PDF)</a>",
      "<em>Vox Sanguinis</em>. 1998 <strong>55</strong>:119-268",
      "In: Dupont B, ed. <em>Immunobiology of HLA</em>. New York: Springer-Verlag, 1989: 72–9.",
      "In: Dupont B, ed. <em>Nomenclature for factors of the HLA system, 1987</em>. Decisions of the Nomenclature",
      "Committee on Leukocyte Antigens, which met in New York on November 21-23, 1987"
        ], false, true) }}
{{ heading ('Nomenclature for factors of the HLA system, 1984')}}
{{ list([
      "<em>WF Bodmer, E Albert, JG Bodmer, J Dausset, F Kissmeyer-Nielsen, W Mayr, R Payne, JJ van Rood, Z Trnka, RL Walford</em>",
      "<em>Bulletin of the World Health Organisation</em>. 1985 <strong>63</strong>:399-405<a href='https://iris.who.int/bitstream/handle/10665/265129/PMC2536411.pdf?sequence=1&isAllowed=y'>(Download PDF)</a>",
      "<em>Human Immunology</em>. 1984 <strong>11</strong>:117-25",
      "<em>Tissue Antigens</em>. 1984 <strong>24</strong>:73-80 <a href='https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1399-0039.1848.tb01655.x'>(Download PDF)</a>",
      "<em>Vox Sanguinis</em>. 1984 <strong>48</strong>:42-9",
      "In: Albert ED, Baur MP, Mayr WR, eds. <em>Histocompatibility Testing, 1984</em>. Berlin: Springer-Verlag, 1985: 4–8."
        ], false, true) }}
{{ heading ('Nomenclature for factors of the HLA system, 1980')}}
{{ list([
      "WHO Nomenclature Committee.",
      "<em>Bulletin of the World Health Organisation</em>. 1980 <strong>58</strong>:945-8<a href='https://pmc.ncbi.nlm.nih.gov/articles/PMC2396006/pdf/bullwho00429-0133.pdf'>(Download PDF)</a>",
      "<em>Immunobiology</em>. 1981 <strong>158</strong>:307-11",
      "<em>Immunology</em>. 1982 <strong>46</strong>:231-4",
      "<em>Tissue Antigens</em>. 1980 <strong>16</strong>:113-7 <a href='https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1399-0039.1980.tb00591.x'>(Download PDF)</a>",
      "<em>Vox Sanguinis</em>. 1980 <strong>38</strong>:315-8",
      "In: Terasaki PI, ed. <em>Histocompatibility Testing, 1980</em>. Los Angeles: UCLA Tissue Typing Laboratory, 1980: 18–20."
        ], false, true) }}
{{ heading ('Nomenclature for factors of the HLA system, 1977')}}
{{ list([
      "<em>E Albert, DB Amos, WF Bodmer, R Ceppellini, J Dausset, F Kissmeyer-Nielsen, W Mayr, R Payne, JJ Rood,PI Terasaki, Z Trnka, RL Walford</em>",
      "<em>Bulletin of the World Health Organisation</em>. 1978 <strong>56</strong>:461-5<a href='https://pmc.ncbi.nlm.nih.gov/articles/PMC2395588/pdf/bullwho00440-0129.pdf'>(Download PDF)</a>",
      "<em>European Journal of Immunogenetics</em>. 1977 <strong>7</strong>:911-4",
      "<em>International Archives of Allergy and Applied Immunology</em>. 1978 <strong>57</strong>:282-7",
      "<em>Tissue Antigens</em>. 1978 <strong>11</strong>:81-6 <a href='http://onlinelibrary.wiley.com/doi/10.1111/j.1399-0039.1978.tb01231.x/pdf'>(Download PDF)</a>",
      "<em>Vox Sanguinis</em>. 1978 <strong>35</strong>:111-6"
        ], false, true) }}
{{ heading ('Nomenclature for factors of the HLA system, 1975')}}
{{ list([
      "WHO IUIS-Terminology Committee",
      "<em>Bulletin of the World Health Organisation</em>. 1975 <strong>52</strong>:261-5<a href='https://pmc.ncbi.nlm.nih.gov/articles/PMC2366374/pdf/bullwho00465-0026.pdf'>(Download PDF)</a>",
      "<em>Cellular Immunology</em>. 1976 <strong>21</strong>:382-9",
      "<em>Journal of Immunogenetics</em>. 1976 <strong>3</strong>:435-41",
      "<em>Transplantation</em>. 1976 <strong>21</strong>:353-8"
        ], false, true) }}
{{ heading ('WHO Terminology Report, 1972')}}
{{ list([
      "WHO Nomenclature Committee",
      "<em>Bulletin of the World Health Organisation</em>. 1972 <strong>47</strong>:659-62<a href='https://pmc.ncbi.nlm.nih.gov/articles/PMC2480838/pdf/bullwho00185-0117.pdf'>(Download PDF)</a>"
        ], false, true) }}
{{ heading ('WHO Terminology Report, 1970')}}
{{ list([
      "WHO Nomenclature Committee",
      "In: Terasaki PI, ed. <em>Histocompatibility Testing, 1970</em>. Copenhagen: Munksgaard, 1970:49.<a href='https://hla.alleles.org/inc/images/WHO_Terminology_Report_1970.pdf'>(Download PDF)</a>"
        ], false, true) }}
{{ heading ('Nomenclature for Factors of the HL-A System, 1968')}}
{{ list([
      "WHO Nomenclature Committee",
      "<em>Bulletin of the World Health Organisation</em>. 1968 <strong>39</strong>:483-6<a href='https://pmc.ncbi.nlm.nih.gov/articles/PMC2554419/pdf/bullwho00230-0140.pdf'>(Download PDF)</a>"
        ], false, true) }}